*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 20px;
}

h4{
    margin: 30px;
}

p{
    margin: 45px;
}

.languageDropdown{
    outline: none;
    border: none;
    width: 88px;
    height: 40px !important;
    margin: 0 auto;
    display: block;
    color: black !important;
    padding: 0 2px 0 10px;
    white-space: nowrap;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.languageDropdown:focus{
    outline: none;
    border: none;
}



